
label{
	user-select: none;
}

#task-list{
	max-width: 35rem;
}

.task-done .form-check-label .label{
	text-decoration: line-through;
}

.hover-visible-container .hover-visible-item{
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}
.hover-visible-container:hover .hover-visible-item{
	opacity: 1;
}

.drag-handle{
	cursor: ns-resize;
}
.task-item-placeholder:first-child {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}
.task-item-placeholder:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

@keyframes animate_task-delete {
	from{
		left:0;
		opacity: 1;
		margin-bottom:0;
	}	
	to{
		left:-200px;
		margin-bottom: calc(0px - var(--item-height));
		opacity: 0;
	}
}

.animate__task-delete{
	position: relative;
	animation: animate_task-delete .2s ease-in-out;
	animation-fill-mode: forwards;
}

.toast{
	backdrop-filter: blur(2px);
	--bs-bg-opacity: 0.6;
}
.toast-header i.bi.bi-check::before{
	transform: scale(2);
}