
label{
	user-select: none;
}

#task-list{
	max-width: 35rem;
}

.task-done .form-check-label .label{
	text-decoration: line-through;
}

.hover-visible-container .hover-visible-item{
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}
.hover-visible-container:hover .hover-visible-item{
	opacity: 1;
}

.drag-handle{
	cursor: ns-resize;
}
.task-item-placeholder:first-child {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}
.task-item-placeholder:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}